{
    "left": "left.gii",
    "right": "right.gii",
    "confounds": "regressors.tsv",
    "threshold": 0.0
    "approach": "diffusion-maps",
    "kernel": "pearson",
    "n_components": 3,
    "random_state": 0,
}
